@charset "utf-8";
/* CSS Document */
/*
 * author : towne
 * version : 0.0.1
 * date : 2015.1.22
 *
*/

.ui_pages{
	padding: 400px;
}

.ui_pages a{
	width: 36px;
	height: 24px;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	margin: 0 3px;
	background-color: #e4e4e4;
	color: #333333;
	vertical-align: top;
}
.ui_pages a.active{
	background-color: #333333;
	color: #ffffff;
}

.ui_pages .ui_pages_btn{
	width: 30px;
	font: 14px/24px Arial;
}
.ui_pages_more{
	font: 18px/14px Arial;
}

.ui_pages_prev, .ui_pages_next{
	font-size: 22px;
	line-height: 22px;
}
.ui_pages a:hover{
	background-color: #333333;
	color: #ffffff;
};