@charset "utf-8";
/* CSS Document */

/**
 * [svg->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */

.mobile_chart {
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
	position: relative;
	overflow: hidden;
	svg {
	}
	.x_axis, .y_axis {
		position: absolute;
		font-size: 13px;
		span {
			position: absolute;
		}
	}
	.x_axis {
		width: 100%;
		height: 20px;
		bottom: 0;
	}
	.y_axis {
		width: 35px;
		left: 7px;
		top: 30px;
		span {
			display: block;
			width: 100%;
			line-height: 24px;
			height: 24px;
			text-align: right;
		}
	}
	.ui_rate {
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0 5px;
		line-height: 24px;
		font-size: 14px;
		color: #ffffff;
		@include border-radius(4px);
		background-color: #ff5500;
		// -moz-transition: -moz-transform, .6s, ease-in-out;         	/* Gecko browsers */
	 //    -webkit-transition: -webkit-transform, .6s, ease-in-out;    /* Webkit browsers */
	 //    -ms-transition: -ms-transform, .6s, ease-in-out;          	/* IE 9 */
	 //    -o-transition: -o-transform, .6s, ease-in-out;           	/* Opera */ 
	 //    transition: transform, .6s, ease-in-out;
		@include transition(all, .6s, ease-in-out);
		span {
			height: 20px;
			position: absolute;
			left: 50%;
			margin-left:-5px;
			bottom: -8px;
			color: #ff5500;
		}
	}
}
.mobile_chart_title {
	position: absolute;
	left: 12px;
	top: 12px;
	font-size: 14px;
}
