/* CSS Document */
/**
 * [reset->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */
html, body, ul, h1, h2, h3, h4, h5, h6, ol, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, strong, i, em {
  font-weight: normal;
  font-style: normal; }

li {
  padding: 0;
  margin: 0;
  list-style: none; }

em {
  font-style: normal; }

body {
  font-family: "arial"; }

input, button, select, textarea {
  outline: none;
  padding: 0;
  border: none; }

textarea {
  resize: none; }

a {
  text-decoration: none; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

/* CSS Document */
/**
 * [calender->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */
.ui_calendar_box {
  width: 230px;
  font-family: Arial;
  position: absolute;
  left: 0;
  top: 10px;
  display: none; }

/*title*/
.ui_calendar_title {
  text-align: center;
  height: 43px;
  line-height: 43px;
  width: 100%;
  background-color: #cc0000;
  position: relative;
  font-size: 14px;
  color: #ffffff; }
  .ui_calendar_title .ui_prev_year, .ui_calendar_title .ui_next_year, .ui_calendar_title .ui_prev_month, .ui_calendar_title .ui_next_month {
    width: 40px;
    height: 43px;
    position: absolute;
    top: 0; }
  .ui_calendar_title .ui_prev_month, .ui_calendar_title .ui_next_month {
    width: 35px; }
  .ui_calendar_title .ui_prev_year {
    left: 0;
    background: url(imgs/l_0.png) 15px 16px no-repeat;
    border-right: 1px solid #bf0000; }
  .ui_calendar_title .ui_prev_month {
    left: 41px;
    background: url(imgs/l_0.png) 15px 16px no-repeat;
    border-left: 1px solid #d52e2e; }
  .ui_calendar_title .ui_next_month {
    right: 41px;
    background: url(imgs/r_0.png) 15px 16px no-repeat;
    border-right: 1px solid #d52e2e; }
  .ui_calendar_title .ui_next_year {
    right: 0;
    background: url(imgs/r_0.png) 15px 16px no-repeat;
    border-left: 1px solid #bf0000; }
  .ui_calendar_title .ui_prev_year:hover, .ui_calendar_title .ui_prev_month:hover {
    background: url(imgs/l_1.png) 15px 16px no-repeat; }
  .ui_calendar_title .ui_next_year:hover, .ui_calendar_title .ui_next_month:hover {
    background: url(imgs/r_1.png) 15px 16px no-repeat; }

.ui_calendar_body {
  background-color: #fbf8f1;
  padding-bottom: 17px; }
  .ui_calendar_body .ui_day {
    padding: 13px 17px 0 17px;
    text-align: center;
    font-family: "Microsoft Yahei"; }
    .ui_calendar_body .ui_day span {
      width: 28px;
      height: 28px;
      line-height: 28px;
      float: left; }
  .ui_calendar_body .ui_date {
    padding: 0 17px;
    text-align: center; }
    .ui_calendar_body .ui_date a {
      width: 28px;
      height: 28px;
      line-height: 28px;
      float: left;
      color: #593442; }
    .ui_calendar_body .ui_date a:hover {
      background-color: #cc0000;
      color: #ffffff; }
    .ui_calendar_body .ui_date a.ui_today {
      background-color: #cc0000;
      color: #ffffff; }
    .ui_calendar_body .ui_date a.ui_prev_month_date, .ui_calendar_body .ui_date a.ui_next_month_date {
      color: #cccccc; }
    .ui_calendar_body .ui_date a.ui_prev_month_date:hover, .ui_calendar_body .ui_date a.ui_next_month_date:hover {
      color: #cccccc;
      background-color: #fbf8f1; }

.ui_main {
  width: 600px;
  height: 500px;
  padding: 345px 289px 0 213px;
  position: relative;
  left: 100px; }

.ui_main2 {
  padding-top: 203px;
  padding-left: 23px; }

/* CSS Document */
/**
 * [carousel->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */
.carousel {
  width: 100%;
  height: 450px;
  position: relative; }

.carousel2 {
  width: 500px;
  height: 200px; }

.carousel ul, .carousel li, .carousel a {
  width: 100%;
  height: 100%; }
.carousel img {
  display: none; }
.carousel li {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }
.carousel li.active {
  z-index: 2; }
.carousel a {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }
.carousel .car_btn {
  width: 100%;
  position: absolute;
  bottom: 8.8%;
  text-align: center;
  z-index: 4; }
  .carousel .car_btn span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
    line-height: 20px;
    background-color: #00FFFF;
    -moz-border-radius: 50%;
    /* Gecko browsers */
    -webkit-border-radius: 50%;
    /* Webkit browsers */
    -ms-border-radius: 50%;
    /* IE 9 */
    -o-border-radius: 50%;
    /* Opera */
    border-radius: 50%;
    cursor: pointer; }
  .carousel .car_btn span.active {
    background-color: yellow; }
.carousel .prev, .carousel .next {
  width: 40px;
  height: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  z-index: 5;
  background-color: red;
  display: none; }
.carousel .prev {
  left: 50%;
  margin-left: -40%; }
.carousel .next {
  right: 50%;
  margin-right: -40%; }

.ui_carousel_pos {
  position: relative;
  overflow: hidden; }
  .ui_carousel_pos ul {
    position: absolute;
    left: 0;
    top: 0; }
  .ui_carousel_pos li {
    position: static;
    float: left;
    overflow: hidden; }

/* CSS Document */
/**
 * [page->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */
.ui_page_group {
  padding-top: 30px;
  font-family: Courier, "Microsoft Yahei"; }
  .ui_page_group .ui_btn {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    color: #3F51B5; }
  .ui_page_group a.active, .ui_page_group .ui_btn:hover {
    background-color: #3F51B5;
    color: #ffffff; }
  .ui_page_group .ui_btn:nth-child(1), .ui_page_group .ui_first {
    -moz-border-radius: 3px 0 0 3px;
    /* Gecko browsers */
    -webkit-border-radius: 3px 0 0 3px;
    /* Webkit browsers */
    -ms-border-radius: 3px 0 0 3px;
    /* IE 9 */
    -o-border-radius: 3px 0 0 3px;
    /* Opera */
    border-radius: 3px 0 0 3px; }
  .ui_page_group .ui_btn:nth-last-child(1), .ui_page_group .ui_last {
    -moz-border-radius: 0 3px 3px 0;
    /* Gecko browsers */
    -webkit-border-radius: 0 3px 3px 0;
    /* Webkit browsers */
    -ms-border-radius: 0 3px 3px 0;
    /* IE 9 */
    -o-border-radius: 0 3px 3px 0;
    /* Opera */
    border-radius: 0 3px 3px 0; }
  .ui_page_group .ui_disabled {
    background-color: #7A7A7A;
    color: #ffffff; }
  .ui_page_group .ui_disabled:hover {
    background-color: #7A7A7A; }

/* CSS Document */
/**
 * [table->css]
 * @author [haixiangtang@creditease.cn]
 * @version [0.0.2]
 * @date [2015-10-22]
 */
.table-responsive {
  overflow-x: auto;
  -moz-box-shadow: -1px 0 2px #B3B3B3, 0 -1px 2px #B3B3B3, 0 1px 2px #B3B3B3, 1px 0 2px #B3B3B3;
  /* Gecko browsers */
  -webkit-box-shadow: -1px 0 2px #B3B3B3, 0 -1px 2px #B3B3B3, 0 1px 2px #B3B3B3, 1px 0 2px #B3B3B3;
  /* Webkit browsers */
  -ms-box-shadow: -1px 0 2px #B3B3B3, 0 -1px 2px #B3B3B3, 0 1px 2px #B3B3B3, 1px 0 2px #B3B3B3;
  /* IE 9 */
  -o-box-shadow: -1px 0 2px #B3B3B3, 0 -1px 2px #B3B3B3, 0 1px 2px #B3B3B3, 1px 0 2px #B3B3B3;
  /* Opera */
  box-shadow: -1px 0 2px #B3B3B3, 0 -1px 2px #B3B3B3, 0 1px 2px #B3B3B3, 1px 0 2px #B3B3B3; }

.ui_table {
  border-spacing: 0;
  border-collapse: collapse !important;
  border: 1px solid #e1e1e1;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  font-family: "Arial", "Microsoft Yahei"; }

.ui_table > thead > tr > th,
.ui_table > tbody > tr > th,
.ui_table > tfoot > tr > th,
.ui_table > thead > tr > td,
.ui_table > tbody > tr > td,
.ui_table > tfoot > tr > td {
  padding: 0;
  padding-right: 35px;
  height: 46px;
  text-align: right;
  border-top: 1px solid #e1e1e1;
  font-weight: normal;
  font-size: 14px; }

.ui_table > thead > tr > th:first-child,
.ui_table > tbody > tr > th:first-child,
.ui_table > tfoot > tr > th:first-child,
.ui_table > thead > tr > td:first-child,
.ui_table > tbody > tr > td:first-child,
.ui_table > tfoot > tr > td:first-child,
.ui_table > thead > tr > th:last-child,
.ui_table > tbody > tr > th:last-child,
.ui_table > tfoot > tr > th:last-child,
.ui_table > thead > tr > td:last-child,
.ui_table > tbody > tr > td:last-child,
.ui_table > tfoot > tr > td:last-child {
  padding-right: 15px; }

.ui_table > thead > tr > th:first-child,
.ui_table > tbody > tr > th:first-child,
.ui_table > tfoot > tr > th:first-child,
.ui_table > thead > tr > td:first-child,
.ui_table > tbody > tr > td:first-child,
.ui_table > tfoot > tr > td:first-child {
  padding-left: 15px; }

.ui_table > tbody > tr:hover,
.ui_table > tfoot > tr:hover {
  background-color: #f1f1f1; }

.ui_table .ui_text_left {
  text-align: left; }

.ui_table .ui_table_checkbox {
  width: 18px;
  background: url(../imgs/table_checkbox.png) center 14px no-repeat;
  cursor: pointer; }

.ui_table > thead > th.active,
.ui_table > tbody > th.active,
.ui_table > tfoot > th.active,
.ui_table > thead > tr.active,
.ui_table > tbody > tr.active,
.ui_table > tfoot > tr.active {
  background-color: #f1f1f1; }

.ui_table > thead > th.active .ui_table_checkbox,
.ui_table > tbody > th.active .ui_table_checkbox,
.ui_table > tfoot > th.active .ui_table_checkbox,
.ui_table > thead > tr.active .ui_table_checkbox,
.ui_table > tbody > tr.active .ui_table_checkbox,
.ui_table > tfoot > tr.active .ui_table_checkbox {
  background-position: center -68px; }

.ui_table_head {
  height: 62px;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  background-color: #ffffff;
  position: relative; }

.ui_table_head_action {
  position: absolute;
  left: 0;
  top: 0;
  height: 62px;
  padding-left: 15px; }

.ui_table_head_btn {
  margin-right: 24px;
  font-size: 14px;
  color: #2c77f2;
  line-height: 62px;
  text-decoration: none; }

.ui_table_page {
  height: 54px;
  border: 1px solid #e1e1e1;
  border-top: none;
  background-color: #ffffff;
  position: relative; }

.ui_table_page_title {
  height: 54px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 15px;
  font: 14px/54px "Arial"; }

.ui_table_page_nums {
  padding: 0 4px;
  color: #2c77f2; }

.ui_table_page_action {
  height: 54px;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px; }

.ui_table_page_action_select {
  line-height: 54px;
  font-size: 14px;
  float: left; }

.ui_table_page_btn {
  float: right;
  font-size: 14px;
  line-height: 54px;
  padding-left: 24px; }

.ui_table_page_btns {
  color: #666666;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer; }

.ui_table_content {
  width: 1000px;
  padding-top: 40px;
  margin: 0 auto; }

/*# sourceMappingURL=tg.css.map */
