@charset "utf-8";
/* CSS Document */
/*
 * author : towne
 * version : 0.0.1
 * date : 2015.1.22
 *
*/

.ui_pages{
	padding: 400px;
	letter-spacing: -3px;
}
.ui_prev, .ui_next{
	width: 36px;
	height: 20px;
	display: inline-block;
	border-radius: 3px;
	background-size: 8px 100px;
	background-color: #ffffff;
	background-image: url(../images/apple_pages.png);
	background-repeat: no-repeat;
	box-shadow: -1px 0 1px #dcdbda, -1px 0 1px #dcdbda, 0 0px 0px blue, 0 2px 3px #b1b0af;
}
.ui_prev{
	background-position: center 3px;
}
.ui_next{
	background-position: center -54px;
}